.reviewRow {
    display: flex;
    flex-flow: wrap;
}
.reviewRow ul {
    margin-right: 30px;
}

.reviewList {
    list-style-type: none;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.container {
    margin-top: 40px;
}